<div class="contract_sign">
    <div class="contractSign_header">
        <div class="header_operation">
            <div class="operation_filter">
                <span>筛选：</span>
                <select class="operation_filter_auth">
                    <option>全部</option>
                    <option>未发送 </option>
                    <option>已发送</option>
                </select>
            </div>
            <div class="operation_cate_search">
                <div class="operation_filter">
                    <span>查询：</span>
                    <select class="select_op_filter">
                        <option>理财师</option>
                        <option>产品</option>
                    </select>
                </div>
                <div class="operation_search">
                    <input class="search_btn" type="text" placeholder="请输入关键字"/>
                    <img class="search_img" src="./modules/foundation/image/operation_search.png" title="搜索"/>
                </div>
            </div>
        </div>
    </div>

    <div class="contractSign_content">
        <table class="contractSign_table beeWebTable">
            <thead>
            <tr>
                <th>理财师</th>
                <th>产品</th>
                <th>地址</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <% if(it.length > 0){ %>
            <% for(var i=0;i<it.length;i++){ %>
            <% var item=it[i];%>
            <% var flag=i%2;var curClass;%>
            <% if(flag==0){curClass="trOddBackColor";}else{curClass="trEvenBackColor";} %>
            <tr class="<%= curClass %>">
                <td class="name" data-field="proName"><%=item.proName%></td>
                <td class="product" data-field="fund"><%=item.fund%></td>
                <td class="address" data-field="region"><%=item.region%></td>
                <td class="status" data-field="years"><%=item.years%></td>
                <td>
                    <%if(item.isSend==false){%>
                    <a class="confirm_send" href="javascript:void(0)">确认签发</a>
                    <%}%>
                </td>
            </tr>
            <% } %>
            <% }else{ %>
            <tr class="contractSign_tbody_empty"><td colspan="8">No Data</td></tr>
            <% } %>
            </tbody>
        </table>
        <% if(it.length > 0){ %>
        <div class="contractSign_pager">

        </div>
        <% } %>
    </div>
</div>