<table class="product_veri_popTable">
    <tr>
        <td class="product_veri_popTable_name">报单号</td>
        <td class="product_veri_popTable_content"><input type="text" value="<%= it.itemNum %>" /></td>
    </tr>
    <tr>
        <td class="product_veri_popTable_name">产品名称</td>
        <td class="product_veri_popTable_content"><input type="text" value="<%= it.proName %>" /></td>
    </tr>
    <tr>
        <td class="product_veri_popTable_name">报单金额</td>
        <td class="product_veri_popTable_content"><input type="text" value="<%= it.itemPrice %>" /></td>
    </tr>
    <tr>
        <td class="product_veri_popTable_name">退款金额</td>
        <td class="product_veri_popTable_content"><input type="text" value="<%= it.returnPrice %>" /></td>
    </tr>
</table>