.role_allot_content{
  width:100%;
  .content-div{
    width:80%;
    margin:auto;
    padding-left: 70px;
    .roleItem{
      float:left;
      margin-top: 20px;
      min-width:120px;
      color: #6b818b;
      font-family: Microsoft YaHei;
      font-size: 14px;
      margin-left: 10px;
    }
  }
}



