
.userRoleManage {
  width: 100%;
  margin: 0;
  background-color: #f9f9f9;
  .content-style {
    width: 99%;
    margin: 0 auto;
    .table-nav {
      width: 100%;
      background-color: #f9f9f9;
      height: 45px;
      .table-nav-content {
        width: 20%;
        padding: 10px 0 0 25px;
        .adds {
          text-decoration: none;
          cursor: pointer;
          span {
            color: #6b818b;
            font-family: Microsoft YaHei;
            font-size: 14px;
            margin-right: 10px;
          }
          img {
            position: relative;
            top: 3px;
            width: 18px;
            height: 18px;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease;
          }
        }
        .adds:hover {
          span {
            color: #5FAEE3;
          }
          img {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }
      }
    }

    .table-style {
      tbody {
        tr {
          td {
            width: 16%;
          }
          a {
            text-decoration: none;
            margin-left: 5px;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
      .tbody_empty {
        height: 150px;
        td {
          height: 150px;
          line-height: 150px;
          font-size: 13px;
          text-align: center;
          font-family: Microsoft YaHei;
        }
      }
    }

    .userRole_pager {
      width: 100%;
      background-color: #e5e5e5;
      height: 40px;
    }
  }
}

.table-nav-option {

  .assigned-user, .undistributed-user {
    float: left;
    cursor: pointer;
  }
  .assigned-user {
    margin-top: 15px;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    height: 30px;

    line-height: 30px;
    width: 120px;
    border: 1px solid #E7E7E7;
    border-bottom: 0px;
    background-color: #fff;
    overflow: hidden;
  }
  .undistributed-user {
    margin-top: 15px;
    margin-left:15px;
    border-radius: 5px 5px 0px 0px;
    height: 30px;
    line-height: 30px;
    width: 120px;
    background-color: #E3EAF9;
    text-align: center;
    overflow: hidden;

  }
  .assigned-active{
    background-color: #ffffff;
  }
  .assigned-noactive{
    background-color: #E3EAF9;
  }

}

.table-page {
  border: 1px solid #E7E7E7;
}

.search-centent {
  float: right;
  margin-top: 15px;
  height: 25px;
}

#searchUserName {
  height: 25px;
  border-radius: 5px;
  border: 1px #E8E8E8 solid;
  padding-left: 5px;
  position: relative;
  right: -23px;
  outline: none;

}

.search-centent img {
  height: 16px;
  width: 16px;
  position: relative;
  top: 4px;
  right: 10px;
  cursor: pointer;
}


















