/*
.column {
  -webkit-column-count: 2;
  -webkit-column-gap: 1.5em;
  -webkit-column-rule: 1px solid #000;
}

.filed {
  float: left;
}

.clear {
  clear: both;
}

.scheme{
  margin:0px auto;

}
.gap{
  padding-left: 70px;
}*/

.scheme_add_content {
  table {
    width: 100%;
    padding-top: 30px;
    tr {
      height: 45px;
      line-height: 45px;
      width: 100%;
      th {
        height: 45px;
        line-height: 45px;
        text-align: center;
        width: 20%;
        font-style: normal;
        font-weight: normal;
        color: #6b818b;
        font-family: Microsoft YaHei;
        font-size: 14px;
      }
      td {
        height: 45px;
        line-height: 45px;
        width: 30%;
        color: #6b818b;
        font-family: Microsoft YaHei;
        font-size: 14px;
        text-align: left;
      }
      input {
        padding-left: 5px;
        border :1px solid #cccccc;
        border-radius: 5px;
        width: 180px;
        height: 25px;
        color: #6b818b;
        font-family: Microsoft YaHei;
        font-size: 14px;
      }
      select {
        width: 180px;
        height: 25px;
        border :1px solid #cccccc;
        border-radius: 5px;
      }
    }
  }
}
