
<div class="add_dept_pop">
    <div class="add_dept_table">
        <table>
        <tr>
            <th>
                部门编码：
            </th>
            <td>
                <input name="departmentCode" class="commonInput" value="<%= it.departmentCode %>" required  required-msg="不能为空呦！" />
            </td>
        </tr>
        <tr>
            <th>
                部门名称：
            </th>
            <td>
                <input name="departmentName" class="commonInput" value="<%= it.departmentName %>" required  required-msg="不能为空呦！" />
            </td>
        </tr>
        <tr>
            <th>
                上级部门：
            </th>
            <td>
                <input name="superiorDepartment" class="commonInput" id="superiorDepartment" value="<%= it.superName %>" required  required-msg="不能为空呦！" />
            </td>
        </tr>
    </table>
    </div>
</div>


