<% if(it.length > 0){ %>
<% for(var i=0;i<it.length;i++){ %>
<% var item=it[i];%>
<% var flag=i%2;var curClass;%>
<% if(flag==0){curClass="trOddBackColor";}else{curClass="trEvenBackColor";} %>
<tr class="<%= curClass %>" data-gid="<%=item.id%>" data-index="<%=i%>">
    <td data-field="name"><%=item.name%></td>
    <td data-field="phone"><%=item.phone%></td>
    <td data-field="companyName"><%=item.companyName%></td>
    <td data-field="address"><%=item.address%></td>
    <td data-field="email"><%=item.email%></td>
    <td data-field="post"><%=item.post%></td>
    <td data-field="comment"><%=item.comment%></td>
    <td data-field="recentActivityRecordTime"><%=item.recentActivityRecordTime%></td>
    <td data-field="createdAt"><%=item.createdAt%></td>
</tr>
<% } %>
<% }%>