$thLineHeight:45px;
$tdLineHeight:35px;

.reserve_manage{
  width: 100%;
  .reserveMag_header {
    width: 100%;
    height:40px;
    background-color: #fff;
    .operation_sort,.report-product-search {
      float:left;
      margin-left: 10px;
      .select_op_sort {
        color: #6b818b;
        option {
          color: #6b818b;
          font-family: Microsoft YaHei;
          font-size: 14px;
        }
      }

      span,select,option {
        color: #6b818b;
        font-family: Microsoft YaHei;
        font-size: 14px;
      }
    }
    .report-product-search{
      margin-left: 40px;
    }
    .operation_search{
      color: #6b818b;
      float: right;
      margin-right: 10px;
      margin-top: -5px;
    }
  }

  .reserveMag_content{
    width: 100%;
    margin:auto;
    table{
      tbody{
        tr.tbodyEmpty{
          cursor: default;
        }
        tr.tbodyEmpty:hover{
          background-color:#f7f9fb;
        }
      }

      .reserveStatistic{
        float: left;
        padding-left: 20px;
        font-family: Microsoft YaHei;
        font-size: 12px;
        color: #000;
        .all,.type{
          font-family: Microsoft YaHei;
          font-size: 12px;
          color: red;
        }
      }
    }
  }
}


