<% if(it.length > 0){ %>
<% for(var i=0;i<it.length;i++){ %>
<% var item=it[i];%>
<% var flag=i%2;var curClass;%>
<% if(flag==0){curClass="trOddBackColor";}else{curClass="trEvenBackColor";} %>
<tr class="<%= curClass %> formDetail" data-val="<%=item.formId %>" title="点击查看详情">
    <td data-field="proName"><%=item.proName%></td>
    <td data-field="cusNamDe"><%=item.cusName%></td>
    <td data-field="formPrice"><%=item.formPrice%></td>
    <td data-field="fundName"><%=item.fundName%></td>
    <td data-field="team">周立团队一</td>
    <td data-field="institute"></td>
    <td data-field="channelManage"></td>
    <td data-field="status">报单中</td>
    <td data-field="createAt"><%=item.createAt%></td>
    <td class="tbody_op" data-field="backRate">
        <!--<a class="form_detail" href="javascript:void(0)">报单详情</a>-->
        <a class="form_verify" href="javascript:void(0)">审核</a>
    </td>
</tr>
<% } %>
<% }else{ %>
<tr class="tbodyEmpty">
    <td colspan="10">暂无数据</td>
</tr>
<% } %>