<div class="member-manage">
    <div class="header">
        <span class="hd-title">成员管理</span>
        <div class="hd-op">
            <ul>
                <li class="op opMoveUser">
                    <img src="./modules/foundation/image/icon-move.png" >
                    <span class="user-move" disable="true">移动到</span>
                </li>
                <li class="add-member hoverOp">
                    <img src="./modules/foundation/image/operation_add.png" >
                    <span>添加成员</span>
                </li>
                <li class="add-team hoverOp" style="display: none;cursor: pointer">
                    <img src="./modules/foundation/image/operation_add.png" >
                    <span>添加团队</span>
                </li>
                <li class="delete-team" style="display: none;cursor: pointer">
                    <img src="./modules/foundation/image/table_op_delete.png" >
                    <span disable="false">删除团队</span>
                </li>
                <!--<li class="assigned-user" style="display: none;cursor: pointer">-->
                    <!--<img src="./modules/foundation/image/operation_add.png" >-->
                    <!--<span disable="false">分配人员</span>-->
                <!--</li>-->
                <li class="search">
                    <div class="searchinput">
                        <img class="img-search" src="./modules/foundation/image/operation_search.png" title="点击搜索" >
                        <input type="text" class="txt-search" placeholder="搜索" autocomplete="off" />
                    </div>
                </li>
            </ul>
        </div>
        <div style="clear: both"></div>
    </div>
    <div class="content">
        <div class="dept-info">
            <div class="dept-op">
                <div class="dept-op-edit">
                    <img src="./modules/foundation/image/table_op_edit.png" >
                    <span class="edit-dept">组织架构管理</span>
                </div>
            </div>
            <div class="dept-nav">
                <div class="nav-tree">
                    <!--这里添加部门树控件-->
                </div>
            </div>
        </div>
        <div class="user-info">
            <div class="user-header">
                <span class="user-title"><!--珈南财富(6个部门，共7人)--></span>
            </div>
            <div class="every-part">
                <div class="user-table">
                    <table>
                        <thead>
                        <tr>
                            <td class="td-op">
                                <span class="user-check-all" data-check="false"></span>
                            </td>
                            <td class="td-name">姓名 </td>
                            <td class="td-dept">部门</td>
                            <td class="td-phone">手机</td>
                            <td class="td-email">邮箱</td>
                        </tr>
                        </thead>
                        <tbody>
                        <% if(it.length > 0){ %>
                        <% for(var i=0;i<it.length;i++){ %>
                        <% var item=it[i];%>
                        <% var flag=i%2;var curClass;%>
                        <% if(flag==0){curClass="trOdd";}else{curClass="trEven";} %>
                        <tr class="<%= curClass %> tr-member" data-uid="<%=item.id %>" title="点击查看详情">
                            <td class="td-op">
                                <span class="user-check-item" data-check="false"></span>
                            </td>
                            <td class="td-name" data-field="name"><%= item.userName %></td>
                            <td class="td-dept" data-field="dept" data-did="<%=item.dep_id%>"><%= item.departName %></td>
                            <td class="td-phone" data-field="phone"><%= item.phone %></td>
                            <td class="td-email" data-field="email"><%= item.personalEmail %></td>
                        </tr>
                        <% } %>
                        <% }else{ %>
                        <tr class="empty"><td colspan="5">暂无数据</td></tr>
                        <% } %>
                        </tbody>
                        <% if(it.length>0){ %>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <div class="user-table-pager">
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>